<form
  name="myForm"
  action="/results"
  onsubmit="return validateForm()"
  method="POST"
>
<div class="alert alert-danger" id="alert" role="alert" style="display: none;">
  Please select all values.
</div>
  <fieldset>
    <select
    id ="countries_dropdown"
      class="form-select"
      name="countries"
      aria-label="Select a country:"
    >
      <option id="default-country" name="country" value="default" selected>Select a country:</option>
      {% for country in populate_form["countries"] %}
      <option id="{{ country }}" name="country" value="{{country}}">
        {{country | title}}
      </option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <div class="row mt-3">
      <h5>Please select a social value:</h5>
    </div>
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      {% for key, val in populate_form["values"].items() %}
      <input
        type="radio"
        class="btn-check"
        id="{{ key }}"
        name="social_value"
        value="{{ key }}"
      />
      <label class="btn btn-outline-primary" for="{{ key }}">{{ val }}</label>
      {% endfor %}
    </div>
  </fieldset>

  <fieldset>
    <div class="row mt-3">
      <h5>Please select a demographic criteria:</h5>
    </div>
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      {% for key, val in populate_form["demos"].items() %}
      <input
        type="radio"
        class="btn-check"
        id="{{key}}"
        name="demographic"
        value="{{key}}"
      />
      <label class="btn btn-outline-primary" for="{{key}}">{{val}}</label>
      {% endfor %}
    </div>
  </fieldset>
  <div>
    <div class="row mt-3">
      <div class="col">
        <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
    </div>
  </div>
</form>
<script>
  function validateForm() {
    let c_value = document.forms["myForm"]["countries"].value;
    let s_value = document.forms["myForm"]["social_value"].value;
    let d_value = document.forms["myForm"]["demographic"].value;
    if (s_value == "" || d_value == "" || c_value == "default") {
      document.getElementById("alert").style.display = "block";
      return false;
    }
  }
</script>
